* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  padding: 20px;
}

h1 {
  font-size: 28px;
}

p {
  color: #aaa;
}

a {
  width: 100%;
  max-width: 400px;

  text-decoration: none;
  color: #fff;
  border: 1px solid #222;

  padding: 16px;
  text-align: center;
  font-size: 18px;
}

a i {
  margin-right: 0.5rem;
}

a:active {
  background: #111;
}